
html {
	height: 100%;
	background-color: black;
	background: url("../img/background.png") no-repeat center center fixed;
}

body {
	margin-left: 19vw;
	width: 62vw;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
}

a {
	text-decoration: none;
	color: rgb(71, 142, 201);
}

/* Header (Name and Link Bar) */
.main-header {
	padding-top: 15px;
	display: block;
	padding-bottom: 50px;
}

.main-header > h1, h2 {
	text-align: center;
	color: rgba(255, 255, 255, .8);
	font-size: 425%;
}

.main-header > h2 {
	color: rgba(255, 255, 255, .7);
	font-size: 100%;
}

#link-box {
	display: inline-flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 10px;
	width: 100%;
	height: 30px;
}

.social-link {
	width: 30px;
	margin: 0 15px 0 15px;
}

.social-link > img {
	width: 100%;
	height: 100%;
}

/* Content */
.content-pane {
	display: flex;
	flex-direction: column;
	padding-top: 25px;
	padding-bottom: 10px;
}

.pane-title {
	color: rgba(255, 255, 255, .8);
	font-size: 1.35vw;
	width: 100%;
	clear: both;
	text-align: center;
	text-decoration: underline;
}

/* Main Content */
#summary-pane {
	flex-direction: row;
}

#portrait {
	flex-grow: 1;
}
#portrait > img {
	padding-left: 10%;
	width: 80%;
}

#biography {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	padding-right: 5%;
}
#biography > p {
	text-align: justify;
	flex-grow: 7;
	color: rgba(255, 255, 255, .8);
	font-size: 1.3vw;
	line-height: 125%;
}
#biography > div {
	font-size: 1.5vw;
	flex-grow: 3;
	text-align: center;
}

/* Papers */
.paper-ref {
	width: 80%;
	padding-top: 15px;
	margin-left: 10%;
	color: rgba(255, 255, 255, .8);
	font-size: 1vw;
}

.author-self {
	font-weight: bold;
}
